POSTGRES_ADMIN_PASSWORD=<set-a-local-password>
CATALOG_DB_PASSWORD=<set-a-different-local-password>
ORDER_DB_PASSWORD=<set-a-different-local-password>
CUSTOMER_DB_PASSWORD=<set-a-different-local-password>

BENCHMARK_URL=http://localhost:4001/products
BENCHMARK_REQUESTS=30
